/* add slideIn animation to the drawer */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.drawerContainer {
  position: fixed;
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 32px;
  z-index: 3;
  animation: slideIn 0.3s ease-in-out;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(100%);
}
